/*based on https://bootsnipp.com/snippets/featured/twitch-like-navbar*/

body {
    /*padding-top: 1px;
    padding-right: 10px; */
}

.navbar-twitch {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    border-radius: 0;
    border: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 1030
}

.navbar-twitch>.container {
    padding: 0;
    width: 100%
}

.navbar-twitch .navbar-nav>li {
    float: none
}

.navbar-twitch .navbar-nav>li>a {
    padding: 0
}

.navbar-twitch .navbar-nav>li>a>span {
    display: block;
    font-size: 20pt;
    padding: 13px 15px 13px 12px
}

.navbar-twitch .tooltip {
    font-size: 15pt
}

.navbar-twitch .vertical {
    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    display: block;
    vertical-align: bottom;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25pt;
    position: absolute;
    bottom: 10px
}

input[type=checkbox] {
    transform: scale(1.3)
}


.rhandsontable {
    margin-left:50px;
    margin-right:20px;
    background-color: #F5F5F5;


}

